<div class="container">
    <div class="row">
        <div class="col">
            <img src="img/coding-language.png" alt="gambar" class="img-thumbnail" width="200">
            <h1 class="display-4">Amria Rendy</h1>
            <p class="lead">Full Stack Programmer</p>
        </div>
    </div>
</div>