    <h1>Hello World!!</h1>
    <% const paragraph = 'Hello World'; %>
    <p>Output paragraph = <%= paragraph %></p>
    <br>

    <h3>nama <%= name %></h3>
    <br>

    <h3>Daftar Mahasiswa</h3>
    <% if (mahasiswa.length < 1) { %>
    <p style="color: red;">Data mahasiswa kosong.</p>
    <% } else { %>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>Nama : <%= mhs.nama %></li>
            <li>Email : <%= mhs.email %></li>
        </ul>
    <% }) %>
    <% } %>
